/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #104E8B;
    background-size: auto 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
    color: #F5F5F5;
}

/* min-width: 480px */
@media (min-width: 480px) {
    body {
        font-size: 16px;
    }
}

/* min-width: 720px */
@media (min-width: 720px) {
    body {
        font-size: 18px;
    }
}

/* min-width: 1080px */
@media (min-width: 1080px) {
    body {
        font-size: 20px;
    }

    .container {
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu {
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 0.3em 0.6em;
    transition: background-color 600ms, color 600ms;
    text-decoration: none;
    color: #104E8B;
}

.menu a:hover {
    color: #F5F5F5;
    background-color: #104E8B;
}

.menu a:active {
    color: #104E8B;
    background-color: #DCDCDC;
}

.site-title,
.site-subtitle {
    color: #F5F5F5;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.site-title {
    font-size: 4em;
}

.site-subtitle {
    font-size: 2em;
    font-style: italic;
}

.site-title-principal {
    opacity: 0;
    animation: animacaoTitulo 2s linear 600ms 1 forwards;
  }

  @keyframes animacaoTitulo {
      0% {opacity: 0;}
      25% {opacity: 0.25;}
      50% {opacity: 0.5;}
      75% {opacity: 0.75;}
      100% {opacity: 1;}
  }

.sobre,
.portfolio,
.contato {
    padding: 1em;
    min-height: 100vh;
}

.sobre h2,
.portfolio h2,
.contato h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.sobre figure {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-align: center;
    margin-bottom: 0.6em;
}

@media (min-width: 720px) {
    .sobre figure {
        float: right;
        margin-left: 1em;
    }
}

.sobre figure img {
    width: 250px;
    height: 250px;
}

.sobre p {
    text-indent: 1em;
    text-align: justify;
    margin-bottom: 1em;
}

.portfolio .grid {
    display: grid;
    gap: 3em;
    align-content: center;
    justify-content: space-around;
}

@media (min-width: 480px) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 160px);
    }
}

@media (min-width: 720px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 160px);
    }
}

@media (min-width: 1080px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 160px);
    }
}

.portfolio figure {
    text-align: center;
}

.portfolio figure figcaption {
    margin-top: 1em;
}

.img-portfolio {
    height: 150px;
    width: 180px;
    transition: transform 300ms;
}

.img-portfolio:hover {
    transform: scale(1.2);
}

.contato .grid {
    display: grid;
    gap: 6em;
    align-content: center;
    justify-content: center;
}

@media (min-width: 480px) {
    .contato .grid {
        grid-template-columns: repeat(2, 80px);
    }
}

@media (min-width: 720px) {
    .contato .grid {
        grid-template-columns: repeat(4, 80px);
    }
}

.contato .grid a {
    transition: transform 300ms;
}

.contato .grid a:hover {
    transform: scale(0.9) rotate(15deg);
}

.contato .grid a img {
    width: 80px;
    height: 80px;
}

footer {
    text-align: center;
    padding: 1em;
}

footer a {
    background-color: #F5F5F5;
    color: #104E8B;
    text-decoration: none;
}

footer a:hover {
    background-color: #F5F5F5;
    color: #104E8B;
    text-decoration: underline;
}