/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4682B4;
    background-size: 100vw 100vh;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

.menu a:hover {
    color: #ffffff;
    background-color: #4682B4;
}

.menu a:active {
    color: #4682B4;
    background-color: #B0C4DE;
}

a {
    color: #4682B4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: #FFFAFA;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.site-title {
    font-size: 4em;
}

.site-subtitle {
    font-style: italic;
}

.sobre,
.portifolio,
.contato {
    color: #FFFAFA;
    padding: 1em;
    min-height: 100vh;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sobre h2,
.portifolio h2,
.contato h2 {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
}

.sobre figure {
    float: right;
    margin-left: 1em;
}

.sobre figure img {
    width: 250px;
    height: 250px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.sobre p {
    color: whitesmoke;
    text-indent: 2em;
    text-align: justify;
    margin-bottom: 1.4em;
}

.portifolio .grid {
    display: grid;
    gap: 4em;
    justify-content: center;
}

@media (min-width: 560px) {
    .portifolio .grid {
        grid-template-columns: repeat(3, 200px);
    }
}

.portifolio figure {
    text-align: center;
}

.portifolio figure figcaption {
    font-size: 1.2em;
}

.img-portifolio {
    width: 200px;
    height: 200px;
    transition: transform 300ms;
}

.img-portifolio:hover {
    transform: scale(0.9);
}

figcaption {
    color: #ffffff;
}

.contato {
    text-align: center;
}

.contato .grid {
    display: grid;
    gap: 6em;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
}

.contato .grid a {
    transition: transform 300ms;
}

.contato .grid a:hover {
    transform: scale(0.9) rotate(15deg);
}

.contato .grid a img {
    width: 100px;
    height: 100px;
}